<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Your description goes here" />
		<meta name="keywords" content="one, two, three" />
		<link rel="icon" type="image/png" href="img/icon.png" />
		<title>Artemy</title>

		<!-- external CSS link -->
		<link
			href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="css/normalize.css" />
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<div class="bodyCont">
			<header>
				<a href="/"
					><h1><img src="img/smallLogo.png" alt="Logo" class="logo" /></h1
				></a>
				<nav>
					<a href="/login">Log In</a>
					<a href="/signup">Sign Up</a>
					<a href="profile"><i class="fas fa-user"></i></a>
					<a href="/">LOG OUT</a>
				</nav>
			</header>
			<main>
				<div class="listCont">
					<li class="lostPet indexLP">
						<!-- clicking will send to individual post, with more information -->
						<div class="petImgCont">
							<a href="posts"
								><img class="petImg" src="/img/dog3.png" alt="PetPhoto"
							/></a>
						</div>
						<section class="petInfo">
							<a href="posts"><h2>PetName</h2></a>
							<h3>Last Seen: 10/10/1975</h3>
							<h3>Description</h3>
							<p>just a cool ass dog, find his ass bro.</p>
							<h3>Last seen</h3>
							<p>your moms house</p>
						</section>
					</li>
					<li class="lostPet indexLP">
						<!-- clicking will send to individual post, with more information -->
						<div class="petImgCont">
							<a href="#"
								><img class="petImg" src="img/dog1.png" alt="PetPhoto"
							/></a>
						</div>
						<section class="petInfo">
							<a href="#"><h2>PetName</h2></a>
							<h3>Lost On (DATE)</h3>
							<h3>Description</h3>
							<h3>Last seen</h3>
						</section>
					</li>
					<li class="lostPet indexLP">
						<!-- clicking will send to individual post, with more information -->
						<div class="petImgCont">
							<a href="posts"
								><img class="petImg" src="img/dog2.png" alt="PetPhoto"
							/></a>
						</div>
						<section class="petInfo">
							<a href="#"><h2>PetName</h2></a>
							<h3>Lost On (DATE)</h3>
							<h3>Description</h3>
							<h3>Last seen</h3>
						</section>
					</li>
					<li class="lostPet indexLP"></li>
				</div>
				<aside class="tips">
					<h2>Tips for Finding Lost Pet</h2>
					<div class="accordionCont">
						<button class="accordion">Dog</button>

						<div class="panel">
							<p>dogdogdogdogdodgodgodgo</p>
						</div>
					</div>
					<div class="accordionCont">
						<button class="accordion">Dog</button>

						<div class="panel">
							<p>dogdogdogdogdodgodgodgo</p>
						</div>
					</div>
					<div class="accordionCont">
						<button class="accordion">Dog</button>

						<div class="panel">
							<p>dogdogdogdogdodgodgodgo</p>
						</div>
					</div>
				</aside>
			</main>
			<footer>
				<div class="myLinks">
					<a href="https://github.com/MagicMarcos"
						><i class="fab fa-github"></i
					></a>
					<a href="https://marcoscardoso.netlify.app/"
						><i class="fas fa-laptop-code"></i
					></a>
					<a href="https://twitter.com/home"><i class="fab fa-twitter"></i></a>
					<a href="https://www.linkedin.com/feed/"
						><i class="fab fa-linkedin-in"></i
					></a>
				</div>
			</footer>
		</div>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
