/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
	box-sizing: border-box;
}
/* rem set up */
html {
	font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
}

/* Clear fix hack */
.clearfix:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	color: #000;
	font-size: 12px;
	line-height: 1.4;
	font-family: Helvetica, Arial, sans-serif;
}
.bodyCont {
	max-width: 1100px;
	margin: auto;
	padding-left: 30px;
	padding-right: 30px;
}

/* div,
header,
section,
main,
footer {
	border: 1px solid black;
} */

/******************************************
/* LAYOUT
/*******************************************/
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Main body Styling */
main {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}
.listCont {
	display: flex;
	max-width: 73%;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
/* list item */
.lostPet {
	list-style: none;
	width: 40%;
	display: flex;
	align-items: center;
}
/* index ejs specific */
.indexLP {
	margin-bottom: 30px;
	flex-direction: column;
}

.petImgCont {
	min-width: 300px;
	height: 300px;
	width: 33.333%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.petImg {
	/* min-height: 100%; */
	min-width: 100%;
	max-width: 400px;
	height: auto;
}

.petInfo {
	width: 300px;
	padding: 10px 0;
}

/* aside */
.tips {
	width: 27%;
	text-align: center;
}
/* footer */
footer {
	font-size: 3rem;
	padding: 20px;
}
.myLinks {
	display: flex;
	justify-content: space-around;
	width: 40%;
	margin: auto;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* accordion */
.accordionCont {
	margin-bottom: 10px;
}
.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}

.active,
.accordion:hover {
	background-color: #ccc;
}

.panel {
	padding: 0 18px;
	background-color: white;
	height: 0;
	overflow: hidden;
	transition: height 0.2s ease-out;
}
